body {
    font-family: sans-serif;
    text-align: center;
    justify-content: center;
    font-family: 'Asap', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 25%;
}